* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-box {

    height: 20px;
    width: 100%;
  
    margin: 0;
    padding: 0;
}

.header {
    padding: 0 10px;
    
}

.logo {
    color: black;
    font-size: 38px;
    font-family: verdana;
    float: left;
    line-height: 80px;
    padding-left: 48px;
    font-weight: 500;
    opacity: 1;
}

.image-upload {
    text-align: center;
    width: 367px;
    display: inline-block;
    font-size: 66px;
    
}
input[type="text"]{
    border:none;
    outline: none;
    border-bottom: 1px solid black;
     text-align: center;
     margin-left: 69px;
     width: 57%;       
    
    
    
}
.content-box {
    margin: 84px 30px;

}

.row-box {
    text-align: center;
    border-bottom: 1px solid black;
    padding: 9px;
    font-size: 21px;

}

.row-info {
    font-size: 17px;
    float: right;
    clear: both;
    padding: 10px;
}

.content {
    clear: both;
    border: 1px solid black;
    width: 304px;
    border-radius: 8px;
    outline:none
}

.wrapper-box {
    margin-top: 24px;
    font-size: 18px;

}

.container-rateme {
    float: left;

    margin: 0 auto;
    padding: 0;

}

.message {
    float: right;

    font-size: 21px;

}
.star{
    width: 32px;
    text-align: center;
    border-radius: 7px;
}
.btn1 {
    margin: 0px 5px;
    background-color: rgb(172, 166, 166);
    padding: 0px 19px;
    border: none;
    height: 41px;
    line-height: 21px;
    color: white
}

.btn1:hover {
    cursor: pointer;
    background-color: rgb(50, 47, 47);

}