* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-box {
  
    height: 212px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
    padding: 0;

}

.header {
    padding: 0 10px
}



.logo {
    color: black;
    font-size: 38px;
    font-family: verdana;
    float: left;
    line-height: 80px;
    padding-left: 48px;
    font-weight: 500;
}

.img-container {

    height: 190px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.text-1 {
    text-align: center;
    width: 100%;
    display: inline-block;
    margin-top: 66px;
    color: white;
    font-size: 25px;
}

.text-2 {
    text-align: center;
    width: 100%;
    line-height: 230px;
    display: inline-block;
    color: white;
    font-size: 25px;
}

.list {
    margin: 31px 3px;
    padding: 0px 10px;
}
.fas{
	cursor: pointer;
}
.list li {
    list-style-type: none;
    border-bottom: 2px solid black;
    padding: 9px 9px;
   
    box-sizing: border-box;
    cursor: pointer;
}

.page-box {

    box-sizing: border-box;
  
    position: relative;
    text-align: center;
}

nav {
    margin: 52px 49px;
    display: inline-block;
   
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgb(232, 225, 227);
    color: black;
    text-align: center;
    width: 100%;
    height: 65px;
    line-height: 65px;
}

.text-1>a{
    text-decoration: none!important;
    color: white
}
.text-2>a{
    text-decoration: none!important;
    color: white
}

a{
    text-decoration: none!important;
    color: black
}
a:hover{
    text-decoration: none!important;
    color: grey
}