* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    overflow: hidden;
    height: 80px;
    background-color: rgb(232, 225, 227);
}

body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.logo {
    color: black;
    font-size: 38px;
    font-family: verdana;
    float: left;
    line-height: 80px;
    padding-left: 77px;
    font-weight: 500;
}
.userBox{
    background-color:rgb(232, 225, 227);
    width: 142px;
    height:49px;
    overflow: hidden;
    float: right; 
    display:none
    
}
   
.logout-btn{
    border-bottom: 1px solid grey;
    text-align: center;
    background-color: rgb(232, 225, 227);
    padding: 10px;
    font-size: 19px;
}

    
    .active{
        display:block
    }
    



.img-container {
    width: 100%;
    height: 246px;
   
    z-index: 2
}

.mountain-image {
   
    height: 246px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;

}

.text {
    position: relative;
   
    color: white;
    font-size: 27px;
    text-align: center;
    top: 187px;


}

.curve {
    background-color: rgb(232, 225, 227);
    height: 167px;
    border-radius: 50% 50%;
    z-index: -1;
    position: relative;
    top: -72px;
    width: 100%
}

.btn-container {

    width: 100%;
    height: 55vh;
    z-index: 1;
    position: absolute;
    top: 320px;
}

.list-btn-container {
    padding: 30px 0px;
    width: 100%;
}

.list-btn {
    padding: 10px 9px;
    margin: 9px 112px;
    background: #0f8fdb;
    height: 68px;
    border-radius: 8px;
    text-align: center;
    line-height:47px ;
    font-size: 24px;
    cursor: pointer;

}
a{
text-decoration: none!important;
color: white;
}
a:hover{
    text-decoration: none!important;
    color:#cec8c8;
}
h3 {
    text-align: center;
    color: white;
    font-size: 27px;
    line-height: 44px;
}

.row {
    margin: 0 auto;
    padding-top: 50px;

}
.fas{
	cursor: pointer;
}

.row-btn {
    padding: 29px 28px;
    background-color: chartreuse;
    font-size: 27px;
    margin: 0 auto;
    box-sizing: border-box;
    color: white;
    background: #0f8fdb;
    border-radius: 8px;
    cursor: pointer
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgb(232, 225, 227);
    color: black;
    text-align: center;
    width: 100%;
    height: 65px;
    line-height: 65px;
}