<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
    <title>List_main</title>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
         <link rel="stylesheet" href="../static/css/list_detail_view.css">
   
</head>

<body>

    <div class="container-box" style="  background-image: url('../static/img/bukhansan.jpg');">
        <div class="header">
            <span><i class='fas fa-angle-left'
                    style='font-size:70px; float:left; color:black,inline-block;line-height:80px;'></i></span>
            <h1 class="logo">Climbing</h1>

        </div>
    </div>


    <div class="content-box">
        <img src = "{{ post.imgpath }}" alt="post 이미지" width="500" height="300">
        <div class="row-box">제목 : {{ post.name }}</div>
        <div class="row-info">작성자 : {{ post.user_id }}</div>
        <div class=" date">작성일 : {{ post.date }}</div>
        <div class="content">
            {{ post.body }}
          
        <br>점수 : {{ post.star }}
        </div>
        <div class="wrapper-box">
            <div class="container-rateme">
                <span id="rateMe2" class="empty-stars mdb-rating"></span>
            </div>

            <div class="message"><i class="fas fa-envelope"></i></div>
        </div>
    </div>

    </div>


    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!-- mdb -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.18.0/css/mdb.min.css" rel="stylesheet">

    <!-- mdb javascript -->
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.18.0/js/mdb.min.js"></script>
  

    <script src="js/rating.js"></script>
</body>

</html>