{% load static %}
<html>

<head>
	<title>CLIMBLING</title>
	<meta name=viewport content="width=device-width, initial-scale=1, user-scalable=0" charset="utf-8">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
	<script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/mylist_detail.css' %}">







</head>

<body>
    <div class="container-box" style="  background-image: url('{% static 'img/san1-2.JPG' %}');">
        <div class="header">
            <span><i class='fas fa-angle-left' onclick="goBack()"
                    style='font-size:70px; float:left; color:black; inline-block;line-height:80px;'></i></span>
            <h1 class="logo">Climbing</h1>
        </div>
    </div>


    <div id="content-area" class="section">
			<div class="grid">
				<div class="box">
					<h4>Mountain Name:</h4>
				</div>
				<div class="box">
					<h4>{{ mine.m_name }}</h4>
				</div>
			</div>
			<div class="grid">
				<div class="box">
					<h4>Course Name :</h4>
				</div>
				<div class="box">
					<h4>{{ mine.course }}</h4>
				</div>
			</div>
			<div class="grid">
				<div class="box">
					<h4>Taken Time :</h4>
				</div>
				<div class="box">
					<h4>{{ mine.time }}</h4>
				</div>
			</div>
			<div class="grid">
				<div class="box">
					<h2>등급:</h2>
				</div>
                <div class="box">
					<h4> . </h4>
				</div>
            </div>
            <div class="grid">
                <p><a href="{% url 'mylist_delete' pk=mine.pk %}">삭제</a></p>
            </div>
    </div>







</body>

</html>

<script src="{% static 'js/jquery-1.12.0.min.js' %}"></script>
<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
<script src="{% static 'js/star.js' %}"> </script>
<script>
   goBack=()=>{
        window.history.back();
    }</script>
