<!DOCTYPE html>
<html>
<head>
	<title>CLIMBLING</title>
	<meta name=viewport content="width=device-width, initial-scale=1, user-scalable=0" charset="utf-8">
<link rel="stylesheet" href="../static/css/mylist_main.css">
</head>	
<body>
	<div id="header-area" class="section">
		<img src="../static/img/back.jpg" width="40" height="40">
		<div class="box1">
			<a href="main.html">
				<center><h3>CLIMBING</h3></center>

			</a>

		</div>
		
		</div>
	</div>
	<div class="grid1">
	<div class="image" style="background-image:url('../static/img/view.jpg'); 
	"></div>
	</div>
	<div id="content-area">
		<div class="grid"> 
    			<div class="left"><h3>산 이름</h3></div>
    			<div class="right"><h3>소요시간</h3></div>
    	</div>
    	<div class="grid">
    		<a href="page3.html">
    			<div class="grid"> 
    				<div class="left"><h3>불암산</h3></div>
    				<div class="right"><h3>1시간 30분</h3></div>
    			</div>
    		</a>
    	</div>
    	<div class="grid">
    		<a href="page3.html">
    			<div class="grid"> 
    				<div class="left"><h3>수락산</h3></div>
    				<div class="right"><h3>1시간</h3></div>
    			</div>
    		</a>
    	</div>
    	<div class="grid">
    		<a href="page3.html">
    			<div class="grid"> 
    				<div class="left"><h3>&nbsp; </h3></div>
    				<div class="right"><h3>&nbsp; </h3></div>
    			</div>
    		</a>
    	</div>
    	<div class="grid">
    		<a href="page3.html">
    			<div class="grid"> 
    				<div class="left"><h3>&nbsp; </h3></div>
    				<div class="right"><h3>&nbsp; </h3></div>
    			</div>
    		</a>
    	</div>
    	<div class="grid">
    		<a href="page3.html">
    			<div class="grid"> 
    				<div class="left"><h3>&nbsp; </h3></div>
    				<div class="right"><h3>&nbsp; </h3></div>
    			</div>
    		</a>
    	</div>
    	<div class="grid">
    		<a href="page3.html">
    			<div class="grid"> 
    				<div class="left"><h3>&nbsp; </h3></div>
    				<div class="right"><h3>&nbsp; </h3></div>
    			</div>
    		</a>
    	</div>
	</div>

	

	<div id="footer-area" class="section">
		Copyright: Climbing 2018
	</div>

</body>
</html>