{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@800&display=swap" rel="stylesheet">
    <title>Signup</title>
    <link rel="stylesheet" href={% static 'css/signup.css' %}>
   
</head>

<body>
 <div class="header">
        <h1 class="logo">Climbing</h1>
    </div>
    <div class="container">
        <div class="signup-text">Sign up</div>
        <div class="signup-box">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Sign Up"/>
            </form>


        </div>


    </div>
    <div class="footer">
        <p>Copyright 2020 Climbing All Right Reserved</p>
    </div>
</body>

</html>